extends layout.pug

block appContent
  h1 Paul
  h2 You have: #{accountBalance}
  if recentTransactions.length === 0
    p No recent transactions.
  else
    p Recent transactions:
    ul
      each transaction in recentTransactions
        li= transaction
  button Logout